body {
    margin: 0;
}

.unit-container {
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    max-height: 2em;
    transition: max-height 0.25s;
    overflow: hidden;
}

.unit-container:has(svg > .pinned) {
    max-height: 100vh;
}

svg:has(> .pinned) {
    animation: spin 0.25s forwards;
    animation-fill-mode: forwards;
}

.pushPin {
    animation: backspin 0.25s forwards;
}

@keyframes backspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
